#login {
    height: 40vh;
    margin-top: 30vh;
    margin-left: 25%;
    margin-right: 25%;

}
#login h3{
    margin-top: 20px;
    font-size: 36px;
    line-height: 1.5;
    margin-bottom: 50px;
}
body {
  background: #3180ef;
}
img {
    width: 100px;
    margin-bottom: 10px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Kdam Thmor Pro', sans-serif;
}

p,a,label,span,ul,li{
    font-family: 'Roboto Mono', monospace;
}

.btn {
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;

}